.topRectangleQualities{
  position: absolute;
  width: 50px;
  height: 6px;
  background-color: rgb(110, 0, 0);
  transform-origin: right;
  animation-fill-mode: forwards;
}
.topRectangleTopLine{
  top: 9%;
  left: 2.2%;
  transform: scaleX(0);
  animation-name: topLongLineTop;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes topLongLineTop{
  43%{
    transform: rotate(180deg) scaleX(0);
  }
  71.5%{
    transform: rotate(180deg) scaleX(24.56);
  }
  99.9%{
    opacity: 1;
    transform: rotate(180deg) scaleX(24.56);
  }
  100%{
    opacity: 0;
    transform: rotate(180deg) scaleX(0);
  }
}
.topRectangleBottomLine{
  top: 39.4%;
  left: 68.65%;
  transform: scaleX(0);
  animation-name: topLongLineBottom;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes topLongLineBottom{
  43%{
    transform: scaleX(0);
  }
  71.5%{
    transform: scaleX(24.56);
  }
  99.9%{
    opacity: 1;
    transform: scaleX(24.56);
  }
  100%{
    opacity: 0;
    transform: scaleX(0);
  }
}
.topRectangleLeftLine{
  top: 39.4%;
  left: 2.38%;
  transform: rotate(90deg) scaleX(0);
  animation-name: topShortLineLeft;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes topShortLineLeft{
  75%{
    transform: rotate(90deg) scaleX(0);
  }
  99.9%{
    opacity: 1;
    transform: rotate(90deg) scaleX(5.8)
  }
  100%{
    opacity: 0;
    transform: rotate(90deg) scaleX(0);
  }
}
.topRectangleRightLine{
  top: 9%;
  left: 68.5%;
  transform: rotate(-90deg) scaleX(0);
  animation-name: topShortLineRight;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes topShortLineRight{
  75%{
    transform: rotate(-90deg) scaleX(0);
  }
  99.9%{
    opacity: 1;
    transform: rotate(-90deg) scaleX(5.8);
  }
  100%{
    opacity: 0;
    transform: rotate(-90deg) scaleX(0); 
  }
}

.midRectangleQualities{
  position: absolute;
  width: 20px;
  height: 6px;
  top: 44.5%;
  background-color: rgb(110, 0, 0);
  transform-origin: right;
  animation-fill-mode: forwards;
}
.midRectangleTopLine{
  left: 3.78%;
  animation-name: midLongLineTop;
  transform: scaleX(0);
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes midLongLineTop{
  43%{
    transform: rotate(180deg) scaleX(0);
  }
  71.5%{
    transform: rotate(180deg) scaleX(61.45);
  }
  99.9%{
    opacity: 1;
    transform: rotate(180deg) scaleX(61.45);
  }
  100%{
    opacity: 0;
    transform: rotate(180deg) scaleX(0);
  }
}
.midRectangleBottomLine{
  top: 66.2%;
  left: 70.35%;
  transform: scaleX(0);
  animation-name: midLongLineBottom;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes midLongLineBottom{
  43%{
    transform: scaleX(0);
  }
  71.5%{
    transform: scaleX(61.5);
  }
  99.9%{
    opacity: 1;
    transform: scaleX(61.5);
  }
  100%{
    opacity: 0;
    transform: scaleX(0);
  }
}
.midRectangleLeftLine{
  top: 66.4%;
  left: 3.95%;
  transform: rotate(90deg) scaleX(0);
  animation-name: midShortLineLeft;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes midShortLineLeft{
  75%{
    transform: rotate(90deg) scaleX(0);
  }
  99.9%{
    opacity: 1;
    transform: rotate(90deg) scaleX(10.5);
  }
  100%{
    opacity: 0;
    transform: rotate(90deg) scaleX(0);
  }
}
.midRectangleRightLine{
  left: 70.15%;
  transform: rotate(-90deg) scaleX(0);
  animation-name: midShortLineRight;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes midShortLineRight{
  75%{
    transform: rotate(-90deg) scaleX(0);
  }
  99.9%{
    opacity: 1;
    transform: rotate(-90deg) scaleX(10.5);
  }
  100%{
    opacity: 0;
    transform: rotate(-90deg) scaleX(0);
  }
}

.bottomLeftRectangleQualities{
  position: absolute;
  width: 20px;
  height: 6px;
  top: 73.5%;
  background-color: rgb(110, 0, 0);
  transform-origin: right;
  animation-fill-mode: forwards;
}
.bottomLeftRectangleTopLine{
  top: 71.3%;
  left: 3.77%;
  animation-name: bottomLeftLineTop;
  transform: scaleX(0);
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes bottomLeftLineTop{
  43%{
    transform: rotate(180deg) scaleX(0);
  }
  71.5%{
    transform: rotate(180deg) scaleX(35.1);
  }
  99.9%{
    opacity: 1;
    transform: rotate(180deg) scaleX(35.1);
  }
  100%{
    opacity: 0;
    transform: rotate(180deg) scaleX(0);
  }
}
.bottomLeftRectangleBottomLine{
  top: 88.4%;
  left: 41.8%;
  transform: scaleX(0);
  animation-name: bottomLeftLineBottom;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes bottomLeftLineBottom{
  43%{
    transform: scaleX(0);
  }
  71.5%{
    transform: scaleX(35.1);
  }
  99.9%{
    opacity: 1;
    transform: scaleX(35.1);
  }
  100%{
    opacity: 0;
    transform: scaleX(0);
  }
}
.bottomLeftRectangleLeftLine{
  top: 88.4%;
  left: 3.95%;
  transform: rotate(90deg) scaleX(0);
  animation-name: bottomLeftShortLineLeft;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes bottomLeftShortLineLeft{
  75%{
    transform: rotate(90deg) scaleX(0);
  }
  99.9%{
    opacity: 1;
    transform: rotate(90deg) scaleX(8.2);
  }
  100%{
    opacity: 0;
    transform: rotate(90deg) scaleX(0);
  }
}
.bottomLeftRectangleRightLine{
  top: 71.3%;
  left: 41.6%;
  transform: rotate(-90deg) scaleX(0);
  animation-name: bottomLeftShortLineRight;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes bottomLeftShortLineRight{
  75%{
    transform: rotate(-90deg) scaleX(0);
  }
  99.9%{
    opacity: 1;
    transform: rotate(-90deg) scaleX(8.2);
  }
  100%{
    opacity: 0;
    transform: rotate(-90deg) scaleX(0);
  }
}

.bottomRightRectangleQualities{
  position: absolute;
  width: 20px;
  height: 6px;
  top: 73.5%;
  background-color: rgb(110, 0, 0);
  transform-origin: right;
  animation-fill-mode: forwards;
}
.bottomRightRectangleTopLine{
  top: 71.3%;
  left: 46.55%;
  animation-name: bottomRightLineTop;
  transform: scaleX(0);
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes bottomRightLineTop{
  43%{
    transform: rotate(180deg) scaleX(0);
  }
  71.5%{
    transform: rotate(180deg) scaleX(21.94);
  }
  99.9%{
    opacity: 1;
    transform: rotate(180deg) scaleX(21.94);
  }
  100%{
    opacity: 0;
    transform: rotate(180deg) scaleX(0);
  }
}
.bottomRightRectangleBottomLine{
  top: 88.5%;
  left: 70.3%;
  transform: scaleX(0);
  animation-name: bottomRightLineBottom;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes bottomRightLineBottom{
  43%{
    transform: scaleX(0);
  }
  71.5%{
    transform: scaleX(21.94);
  }
  99.9%{
    opacity: 1;
    transform: scaleX(21.94);
  }
  100%{
    opacity: 0;
    transform: scaleX(0);
  }
}
.bottomRightRectangleLeftLine{
  top: 88.4%;
  left: 46.72%;
  transform: rotate(90deg) scaleX(0);
  animation-name: bottomLeftShortLineLeft;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.bottomRightRectangleRightLine{
  top: 71.3%;
  left: 70.15%;
  transform: rotate(-90deg) scaleX(0);
  animation-name: bottomLeftShortLineRight;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.RightRectangleQualities{
  position: absolute;
  width: 20px;
  height: 6px;
  left: 74%;
  background-color: rgb(110, 0, 0);
  transform-origin: right;
  animation-fill-mode: forwards;
}
.RightRectangleTopLine{
  top: 9%;
  left: 75%;
  transform: scaleX(0);
  animation-name: rightLongLineTop;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes rightLongLineTop {
  43%{
    transform: rotate(180deg) scaleX(0);
  }
  71.5%{
    transform: rotate(180deg) scaleX(17.55);
  }
  99.9%{
    opacity: 1;
    transform: rotate(180deg) scaleX(17.55);
  }
  100%{
    opacity: 0;
    transform: rotate(180deg) scaleX(0);
  }
}
.RightRectangleBottomLine{
  top: 88.5%;
  left: 94%;
  transform: scaleX(0);
  animation-name: rightLongLineBottom;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes rightLongLineBottom {
  43%{
    transform: scaleX(0);
  }
  71.5%{
    transform: scaleX(17.55);
  }
  99.9%{
    opacity: 1;
    transform: scaleX(17.55);
  }
  100%{
    opacity: 0;
    transform: scaleX(0);
  }
}
.RightRectangleLeftLine{
  top: 88.5%;
  left: 75.15%;
  transform: scaleX(0);
  animation-name: rightLongLineLeft;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes rightLongLineLeft {
  75%{
    transform: rotate(90deg) scaleX(0);
  }
  99.9%{
    opacity: 1;
    transform: rotate(90deg) scaleX(37.8);
  }
  100%{
    opacity: 0;
    transform: rotate(90deg) scaleX(0);
  }
}
.RightRectangleRightLine{
  top: 9%;
  left: 93.85%;
  transform: scaleX(0);
  animation: rightLongLineRight 7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes rightLongLineRight {
  75%{
    transform: rotate(-90deg) scaleX(0);
  }
  99.9%{
    opacity: 1;
    transform: rotate(-90deg) scaleX(37.8);
  }
  100%{
    opacity: 0;
    transform: rotate(-90deg) scaleX(0);
  }
}