.backgroundBlack{
  display: grid;
  grid-template-columns: repeat(41, 2.5%);
  grid-template-rows: repeat(21, 5%);
  grid-template-areas: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
                       ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a . . e e e e e e e e ."
                       ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a . . e e e e e e e e ."
                       ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a . . e e e e e e e e ."
                       ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a . . e e e e e e e e ."
                       ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a . . e e e e e e e e ."
                       ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a . . e e e e e e e e ."
                       ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a . . e e e e e e e e ."
                       ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . e e e e e e e e ."
                       ". b b b b b b b b b b b b b b b b b b b b b b b b b b b b . . e e e e e e e e ."
                       ". b b b b b b b b b b b b b b b b b b b b b b b b b b b b . . e e e e e e e e ."
                       ". b b b b b b b b b b b b b b b b b b b b b b b b b b b b . . e e e e e e e e ."
                       ". b b b b b b b b b b b b b b b b b b b b b b b b b b b b . . e e e e e e e e ."
                       ". b b b b b b b b b b b b b b b b b b b b b b b b b b b b . . e e e e e e e e ."
                       ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . e e e e e e e e ."
                       ". c c c c c c c c c c c c c c c c . . d d d d d d d d d d . . e e e e e e e e ."
                       ". c c c c c c c c c c c c c c c c . . d d d d d d d d d d . . e e e e e e e e ."
                       ". c c c c c c c c c c c c c c c c . . d d d d d d d d d d . . e e e e e e e e ."
                       ". c c c c c c c c c c c c c c c c . . d d d d d d d d d d . . e e e e e e e e ."
                       ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
  height: 90vh;
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  background-color: rgb(10, 10, 10);
  border: 1px solid rgb(150, 0, 0);
  transform: scale(0);
  animation: container;
  animation-duration: 3s;
  animation-timing-function:cubic-bezier();
  animation-fill-mode: forwards;
}
@keyframes container{
  50%{
    transform: scale(0);
  }
  100%{
    transform: scale(0.99);
  }
}

.topLeftArrow{
  position: absolute;
  width: 35px;
  height: 35px;
  top: 48%;
  left: 49%;
  transform: rotate(0deg) scale(0);
  background: linear-gradient(-45deg, rgb(255, 255, 255) 50%, transparent 25%) 0px 0px;
  background-size: 36px 35px;
  animation: firstArrow;
  animation-duration: 3s;
  animation-timing-function:cubic-bezier();
  animation-fill-mode: forwards;
}
@keyframes firstArrow{
  50%{
    transform: rotate(180deg) scale(1)
  }
  100%{
    transform: rotate(180deg) translateX(869px) translateY(423px)
  }
}
.topRightArrow{
  position: absolute;
  width: 35px;
  height: 35px;
  top: 48%;
  left: 49.1%;
  transform: rotate(90deg) scale(0);
  background: linear-gradient(-45deg, rgb(255, 255, 255) 50%, transparent 25%) 0px 0px;
  background-size: 36px 35px;
  animation: secondArrow;
  animation-duration: 3s;
  animation-timing-function:cubic-bezier();
  animation-fill-mode: forwards;
}
@keyframes secondArrow{
  50%{
    transform: rotate(-90deg) scale(1)
  }
  100%{
    transform: rotate(-90deg) translateY(869px) translateX(423px)
  }
}
.bottomLeftArrow{
  position: absolute;
  width: 35px;
  height: 35px;
  top: 48%;
  left: 49.1%;
  transform: rotate(-90deg) scale(0);
  background: linear-gradient(-45deg, rgb(255, 255, 255) 50%, transparent 25%) 0px 0px;
  background-size: 36px 35px;
  animation: thirdArrow;
  animation-duration: 3s;
  animation-timing-function:cubic-bezier();
  animation-fill-mode: forwards;
}
@keyframes thirdArrow{
  50%{
    transform: rotate(90deg) scale(1)
  }
  100%{
    transform: rotate(90deg) translateY(869px) translateX(423px)
  }
}
.bottomRightArrow{
  position: absolute;
  width: 35px;
  height: 35px;
  top: 48%;
  left: 49%;
  transform: rotate(180deg) scale(0);
  background: linear-gradient(-45deg, rgb(255, 255, 255) 50%, transparent 25%) 0px 0px;
  background-size: 36px 35px;
  animation: fourthArrow;
  animation-duration: 3s;
  animation-timing-function:cubic-bezier();
  animation-fill-mode: forwards;
}
@keyframes fourthArrow{
  50%{
    transform: rotate(0deg) scale(1)
  }
  100%{
    transform: rotate(0deg) translateX(869px) translateY(423px)
  }
}

.rectangles{
  opacity: 0;
  color: white;
  background-color: rgb(10, 10, 10);
  border: 6px solid rgb(110, 0, 0);
  animation-name: appearRectangles;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-fill-mode: forwards;
}
.topRectangle{
  grid-area: a;
  display: flex;
  flex-wrap: wrap;
}
.midRectangle{
  grid-area: b;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.bottomLeftRectangle{
  grid-area: c;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bottomRightRectangle{
  grid-area: d;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.rightRectangle{
  grid-area: e;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}
@keyframes appearRectangles{
  99%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.apearAnimation{
  opacity: 0;
  animation-name: appearContentAnimation;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes appearContentAnimation{
  78%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.topRectangleQualities{
  position: absolute;
  width: 50px;
  height: 6px;
  background-color: rgb(110, 0, 0);
  transform-origin: right;
  animation-fill-mode: forwards;
}
.topRectangleTopLine{
  top: 9%;
  left: 2.2%;
  transform: scaleX(0);
  animation-name: topLongLineTop;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes topLongLineTop{
  43%{
    transform: rotate(180deg) scaleX(0);
  }
  71.5%{
    transform: rotate(180deg) scaleX(24.56);
  }
  99.9%{
    opacity: 1;
    transform: rotate(180deg) scaleX(24.56);
  }
  100%{
    opacity: 0;
    transform: rotate(180deg) scaleX(0);
  }
}
.topRectangleBottomLine{
  top: 39.4%;
  left: 68.65%;
  transform: scaleX(0);
  animation-name: topLongLineBottom;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes topLongLineBottom{
  43%{
    transform: scaleX(0);
  }
  71.5%{
    transform: scaleX(24.56);
  }
  99.9%{
    opacity: 1;
    transform: scaleX(24.56);
  }
  100%{
    opacity: 0;
    transform: scaleX(0);
  }
}
.topRectangleLeftLine{
  top: 39.4%;
  left: 2.38%;
  transform: rotate(90deg) scaleX(0);
  animation-name: topShortLineLeft;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes topShortLineLeft{
  75%{
    transform: rotate(90deg) scaleX(0);
  }
  99.9%{
    opacity: 1;
    transform: rotate(90deg) scaleX(5.8)
  }
  100%{
    opacity: 0;
    transform: rotate(90deg) scaleX(0);
  }
}
.topRectangleRightLine{
  top: 9%;
  left: 68.5%;
  transform: rotate(-90deg) scaleX(0);
  animation-name: topShortLineRight;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes topShortLineRight{
  75%{
    transform: rotate(-90deg) scaleX(0);
  }
  99.9%{
    opacity: 1;
    transform: rotate(-90deg) scaleX(5.8);
  }
  100%{
    opacity: 0;
    transform: rotate(-90deg) scaleX(0); 
  }
}

.midRectangleQualities{
  position: absolute;
  width: 20px;
  height: 6px;
  top: 44.5%;
  background-color: rgb(110, 0, 0);
  transform-origin: right;
  animation-fill-mode: forwards;
}
.midRectangleTopLine{
  left: 3.78%;
  animation-name: midLongLineTop;
  transform: scaleX(0);
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes midLongLineTop{
  43%{
    transform: rotate(180deg) scaleX(0);
  }
  71.5%{
    transform: rotate(180deg) scaleX(61.45);
  }
  99.9%{
    opacity: 1;
    transform: rotate(180deg) scaleX(61.45);
  }
  100%{
    opacity: 0;
    transform: rotate(180deg) scaleX(0);
  }
}
.midRectangleBottomLine{
  top: 66.2%;
  left: 70.35%;
  transform: scaleX(0);
  animation-name: midLongLineBottom;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes midLongLineBottom{
  43%{
    transform: scaleX(0);
  }
  71.5%{
    transform: scaleX(61.5);
  }
  99.9%{
    opacity: 1;
    transform: scaleX(61.5);
  }
  100%{
    opacity: 0;
    transform: scaleX(0);
  }
}
.midRectangleLeftLine{
  top: 66.4%;
  left: 3.95%;
  transform: rotate(90deg) scaleX(0);
  animation-name: midShortLineLeft;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes midShortLineLeft{
  75%{
    transform: rotate(90deg) scaleX(0);
  }
  99.9%{
    opacity: 1;
    transform: rotate(90deg) scaleX(10.5);
  }
  100%{
    opacity: 0;
    transform: rotate(90deg) scaleX(0);
  }
}
.midRectangleRightLine{
  left: 70.15%;
  transform: rotate(-90deg) scaleX(0);
  animation-name: midShortLineRight;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes midShortLineRight{
  75%{
    transform: rotate(-90deg) scaleX(0);
  }
  99.9%{
    opacity: 1;
    transform: rotate(-90deg) scaleX(10.5);
  }
  100%{
    opacity: 0;
    transform: rotate(-90deg) scaleX(0);
  }
}

.bottomLeftRectangleQualities{
  position: absolute;
  width: 20px;
  height: 6px;
  top: 73.5%;
  background-color: rgb(110, 0, 0);
  transform-origin: right;
  animation-fill-mode: forwards;
}
.bottomLeftRectangleTopLine{
  top: 71.3%;
  left: 3.77%;
  animation-name: bottomLeftLineTop;
  transform: scaleX(0);
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes bottomLeftLineTop{
  43%{
    transform: rotate(180deg) scaleX(0);
  }
  71.5%{
    transform: rotate(180deg) scaleX(35.1);
  }
  99.9%{
    opacity: 1;
    transform: rotate(180deg) scaleX(35.1);
  }
  100%{
    opacity: 0;
    transform: rotate(180deg) scaleX(0);
  }
}
.bottomLeftRectangleBottomLine{
  top: 88.4%;
  left: 41.8%;
  transform: scaleX(0);
  animation-name: bottomLeftLineBottom;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes bottomLeftLineBottom{
  43%{
    transform: scaleX(0);
  }
  71.5%{
    transform: scaleX(35.1);
  }
  99.9%{
    opacity: 1;
    transform: scaleX(35.1);
  }
  100%{
    opacity: 0;
    transform: scaleX(0);
  }
}
.bottomLeftRectangleLeftLine{
  top: 88.4%;
  left: 3.95%;
  transform: rotate(90deg) scaleX(0);
  animation-name: bottomLeftShortLineLeft;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes bottomLeftShortLineLeft{
  75%{
    transform: rotate(90deg) scaleX(0);
  }
  99.9%{
    opacity: 1;
    transform: rotate(90deg) scaleX(8.2);
  }
  100%{
    opacity: 0;
    transform: rotate(90deg) scaleX(0);
  }
}
.bottomLeftRectangleRightLine{
  top: 71.3%;
  left: 41.6%;
  transform: rotate(-90deg) scaleX(0);
  animation-name: bottomLeftShortLineRight;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes bottomLeftShortLineRight{
  75%{
    transform: rotate(-90deg) scaleX(0);
  }
  99.9%{
    opacity: 1;
    transform: rotate(-90deg) scaleX(8.2);
  }
  100%{
    opacity: 0;
    transform: rotate(-90deg) scaleX(0);
  }
}

.bottomRightRectangleQualities{
  position: absolute;
  width: 20px;
  height: 6px;
  top: 73.5%;
  background-color: rgb(110, 0, 0);
  transform-origin: right;
  animation-fill-mode: forwards;
}
.bottomRightRectangleTopLine{
  top: 71.3%;
  left: 46.55%;
  animation-name: bottomRightLineTop;
  transform: scaleX(0);
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes bottomRightLineTop{
  43%{
    transform: rotate(180deg) scaleX(0);
  }
  71.5%{
    transform: rotate(180deg) scaleX(21.94);
  }
  99.9%{
    opacity: 1;
    transform: rotate(180deg) scaleX(21.94);
  }
  100%{
    opacity: 0;
    transform: rotate(180deg) scaleX(0);
  }
}
.bottomRightRectangleBottomLine{
  top: 88.5%;
  left: 70.3%;
  transform: scaleX(0);
  animation-name: bottomRightLineBottom;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes bottomRightLineBottom{
  43%{
    transform: scaleX(0);
  }
  71.5%{
    transform: scaleX(21.94);
  }
  99.9%{
    opacity: 1;
    transform: scaleX(21.94);
  }
  100%{
    opacity: 0;
    transform: scaleX(0);
  }
}
.bottomRightRectangleLeftLine{
  top: 88.4%;
  left: 46.72%;
  transform: rotate(90deg) scaleX(0);
  animation-name: bottomLeftShortLineLeft;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.bottomRightRectangleRightLine{
  top: 71.3%;
  left: 70.15%;
  transform: rotate(-90deg) scaleX(0);
  animation-name: bottomLeftShortLineRight;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.RightRectangleQualities{
  position: absolute;
  width: 20px;
  height: 6px;
  left: 74%;
  background-color: rgb(110, 0, 0);
  transform-origin: right;
  animation-fill-mode: forwards;
}
.RightRectangleTopLine{
  top: 9%;
  left: 75%;
  transform: scaleX(0);
  animation-name: rightLongLineTop;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes rightLongLineTop {
  43%{
    transform: rotate(180deg) scaleX(0);
  }
  71.5%{
    transform: rotate(180deg) scaleX(17.55);
  }
  99.9%{
    opacity: 1;
    transform: rotate(180deg) scaleX(17.55);
  }
  100%{
    opacity: 0;
    transform: rotate(180deg) scaleX(0);
  }
}
.RightRectangleBottomLine{
  top: 88.5%;
  left: 94%;
  transform: scaleX(0);
  animation-name: rightLongLineBottom;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes rightLongLineBottom {
  43%{
    transform: scaleX(0);
  }
  71.5%{
    transform: scaleX(17.55);
  }
  99.9%{
    opacity: 1;
    transform: scaleX(17.55);
  }
  100%{
    opacity: 0;
    transform: scaleX(0);
  }
}
.RightRectangleLeftLine{
  top: 88.5%;
  left: 75.15%;
  transform: scaleX(0);
  animation-name: rightLongLineLeft;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes rightLongLineLeft {
  75%{
    transform: rotate(90deg) scaleX(0);
  }
  99.9%{
    opacity: 1;
    transform: rotate(90deg) scaleX(37.8);
  }
  100%{
    opacity: 0;
    transform: rotate(90deg) scaleX(0);
  }
}
.RightRectangleRightLine{
  top: 9%;
  left: 93.85%;
  transform: scaleX(0);
  animation: rightLongLineRight 7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes rightLongLineRight {
  75%{
    transform: rotate(-90deg) scaleX(0);
  }
  99.9%{
    opacity: 1;
    transform: rotate(-90deg) scaleX(37.8);
  }
  100%{
    opacity: 0;
    transform: rotate(-90deg) scaleX(0);
  }
}

.rightRectangleTitle{
  font-size: 1.2rem;
  padding-left: 21%;
}
.rightRectangleButton{
  height: 50%;
  width: 50%;
  margin-left: 25%;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background: rgb(10, 10, 10);
  border: 2px solid rgb(150, 0, 0);
  cursor: pointer;
}
.rightRectangleButton:hover{
  box-shadow: 0 0 12px rgb(150, 0, 0);
  cursor: pointer;
}
.absoluteCheck{
  position: absolute;
  right: 5%;
  color: green;
  font-size: 1.5rem;
}
.wordCheckContainer{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.2rem;
}
.WordCheck{
  display: flex;
  padding-left: 5%;
}
.checkFlex{
  display: flex;
}

.divLoader{
  z-index: 1;
  position: absolute;
  top: 17.5%;
  left: 88%;
  height: 5%;
  width: 8%;
  background-color: rgb(10, 10, 10);
  animation: desapear 12s;
  animation-fill-mode: forwards;
}
@keyframes desapear{
  99.9%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.preloader {
  position: absolute;
  top: 100%;
  left: 70%;
  width: 20px;
  height: 20px;
  margin:-30px 0 0 -30px;
  animation: spin .7s linear infinite;
}
@keyframes spin {
  100% { 
    transform: rotate(360deg);
  }
}
.preloader img {
  width: 100%;
  filter: hue-rotate(100deg) saturate(5);
}

.image{
  height: 77%;/*220px*/
  width: 18%;/*223px*/
  margin-top: 2%;
  margin-left: 3%;
  background-image: url("../tools/Warning.gif");
  animation: desapearImage 10s cubic-bezier(0, 1, 1, 0) infinite;
}
@keyframes desapearImage{
  60%{
    opacity: 1;
  }
  80%{
    opacity: 0.1;
  }
  100%{
    opacity: 1;
  }
}
.topRectangleContent{
  display: flex;
  justify-content: space-around;
  height: 90%;
  width: 33%;
  margin-left: 4%;
  flex-direction: column;
  flex-wrap: wrap;
}
.topRectangleLetterStyle{
  font-size: 1.2rem;
  padding-top: 5%;
}
.midRectangleLetterStyle{
  font-size: 1.2rem;
  padding-left: 1%;
  padding-top: 1%;
}

.projectsContainers{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20%;
  color: white;
}
.firstProject{
  left: 2%;
}
.secondProject{
  left: 15%;
}
.thirdProject{
  left: 27%;
}
.projectImg{
  margin-top: 20%;
  height: 100px;
  width: 120%;
  border: 2px solid red;
}
.projectName{
  text-align: center;
  height: 50px;
  width: 100%;
  font-size: 1.2rem;
  padding-top: 3%;
}

.icon{
  height: 50%;
  width: 20%;
}

/*571*/
@media screen and (max-width: 768px){
  .projectImg{
    height: 70px;
  }
  .topRectangleLetterStyle{
    font-size: 1rem;
  }
  .midRectangleLetterStyle{
    font-size: 1rem;
  }
  .wordCheckContainer{
    font-size: 1rem;
  }
  .projectName{
    font-size: 1rem;
  }
  .backgroundBlack{
    grid-template-columns: repeat(31, 3.22%);
    grid-template-rows: repeat(39, 2.56%);
    grid-template-areas: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
                         ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a a ."
                         ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a a ."
                         ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a a ."
                         ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a a ."
                         ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a a ."
                         ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a a ."
                         ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a a ."
                         ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a a ."
                         ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a a ."
                         ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a a ."
                         ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a a ."
                         ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
                         ". b b b b b b b b b b b b b b b b b b b b b b b b b b b b b ."
                         ". b b b b b b b b b b b b b b b b b b b b b b b b b b b b b ."
                         ". b b b b b b b b b b b b b b b b b b b b b b b b b b b b b ."
                         ". b b b b b b b b b b b b b b b b b b b b b b b b b b b b b ."
                         ". b b b b b b b b b b b b b b b b b b b b b b b b b b b b b ."
                         ". b b b b b b b b b b b b b b b b b b b b b b b b b b b b b ."
                         ". b b b b b b b b b b b b b b b b b b b b b b b b b b b b b ."
                         ". b b b b b b b b b b b b b b b b b b b b b b b b b b b b b ."
                         ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
                         ". c c c c c c c c c c c c c c c c . . e e e e e e e e e e e ."
                         ". c c c c c c c c c c c c c c c c . . e e e e e e e e e e e ."
                         ". c c c c c c c c c c c c c c c c . . e e e e e e e e e e e ."
                         ". c c c c c c c c c c c c c c c c . . e e e e e e e e e e e ."
                         ". c c c c c c c c c c c c c c c c . . e e e e e e e e e e e ."
                         ". c c c c c c c c c c c c c c c c . . e e e e e e e e e e e ."
                         ". c c c c c c c c c c c c c c c c . . e e e e e e e e e e e ."
                         ". . . . . . . . . . . . . . . . . . . e e e e e e e e e e e ."
                         ". . . . . . . . . . . . . . . . . . . e e e e e e e e e e e ."
                         ". d d d d d d d d d d d d d d d d . . e e e e e e e e e e e ."
                         ". d d d d d d d d d d d d d d d d . . e e e e e e e e e e e ."
                         ". d d d d d d d d d d d d d d d d . . e e e e e e e e e e e ."
                         ". d d d d d d d d d d d d d d d d . . e e e e e e e e e e e ."
                         ". d d d d d d d d d d d d d d d d . . e e e e e e e e e e e ."
                         ". d d d d d d d d d d d d d d d d . . e e e e e e e e e e e ."
                         ". d d d d d d d d d d d d d d d d . . e e e e e e e e e e e ."
                         ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
  }
}