.interfaceBlack{
  display: grid;
  grid-template-columns: repeat(40, 2.5%);
  grid-template-rows: repeat(20, 5%);
  grid-template-areas: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
                       ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a . e e e e e e e e e ."
                       ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a . e e e e e e e e e ."
                       ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a . e e e e e e e e e ."
                       ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a . e e e e e e e e e ."
                       ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a . e e e e e e e e e ."
                       ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a . e e e e e e e e e ."
                       ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a . e e e e e e e e e ."
                       ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . e e e e e e e e e ."
                       ". b b b b b b b b b b b b b b b b b b b b b b b b b b b b . e e e e e e e e e ."
                       ". b b b b b b b b b b b b b b b b b b b b b b b b b b b b . e e e e e e e e e ."
                       ". b b b b b b b b b b b b b b b b b b b b b b b b b b b b . e e e e e e e e e ."
                       ". b b b b b b b b b b b b b b b b b b b b b b b b b b b b . e e e e e e e e e ."
                       ". b b b b b b b b b b b b b b b b b b b b b b b b b b b b . e e e e e e e e e ."
                       ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . e e e e e e e e e ."
                       ". c c c c c c c c c c c c c c c c . d d d d d d d d d d d . e e e e e e e e e ."
                       ". c c c c c c c c c c c c c c c c . d d d d d d d d d d d . e e e e e e e e e ."
                       ". c c c c c c c c c c c c c c c c . d d d d d d d d d d d . e e e e e e e e e ."
                       ". c c c c c c c c c c c c c c c c . d d d d d d d d d d d . e e e e e e e e e ."
                       ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
  height: 90vh;
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  background-color: rgb(10, 10, 10);
  border: 1px solid rgb(150, 0, 0);
  transform: scale(0);
  animation: container;
  animation-duration: 3s;
  animation-timing-function:cubic-bezier();
  animation-fill-mode: forwards;
}
@keyframes container{
  50%{
    transform: scale(0);
  }
  100%{
    transform: scale(0.99);
  }
}

.rectangles{
  opacity: 0;
  color: white;
  background-color: rgb(10, 10, 10);
  border: 6px solid rgb(110, 0, 0);
  animation-name: appearRectangles;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-fill-mode: forwards;
}
@keyframes appearRectangles{
  99%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.apearAnimation{
  opacity: 0;
  animation-name: appearContentAnimation;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes appearContentAnimation{
  78%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/*580*/
@media screen and (max-width: 845px){
  .projectImg{
    height: 70px;
  }
  .topRectangleLetterStyle{
    font-size: 1rem;
  }
  .midRectangleLetterStyle{
    font-size: 1rem;
  }
  .wordCheckContainer{
    font-size: 1rem;
  }
  .projectName{
    font-size: 1rem;
  }
  .experienceTitle{
    margin-bottom: 5%;
  }
  .interfaceBlack{
    grid-template-columns: repeat(31, 3.22%);
    grid-template-rows: repeat(39, 2.56%);
    grid-template-areas: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
                         ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a a ."
                         ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a a ."
                         ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a a ."
                         ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a a ."
                         ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a a ."
                         ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a a ."
                         ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a a ."
                         ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a a ."
                         ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a a ."
                         ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a a ."
                         ". a a a a a a a a a a a a a a a a a a a a a a a a a a a a a ."
                         ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
                         ". b b b b b b b b b b b b b b b b b b b b b b b b b b b b b ."
                         ". b b b b b b b b b b b b b b b b b b b b b b b b b b b b b ."
                         ". b b b b b b b b b b b b b b b b b b b b b b b b b b b b b ."
                         ". b b b b b b b b b b b b b b b b b b b b b b b b b b b b b ."
                         ". b b b b b b b b b b b b b b b b b b b b b b b b b b b b b ."
                         ". b b b b b b b b b b b b b b b b b b b b b b b b b b b b b ."
                         ". b b b b b b b b b b b b b b b b b b b b b b b b b b b b b ."
                         ". b b b b b b b b b b b b b b b b b b b b b b b b b b b b b ."
                         ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
                         ". c c c c c c c c c c c c c c c c . . e e e e e e e e e e e ."
                         ". c c c c c c c c c c c c c c c c . . e e e e e e e e e e e ."
                         ". c c c c c c c c c c c c c c c c . . e e e e e e e e e e e ."
                         ". c c c c c c c c c c c c c c c c . . e e e e e e e e e e e ."
                         ". c c c c c c c c c c c c c c c c . . e e e e e e e e e e e ."
                         ". c c c c c c c c c c c c c c c c . . e e e e e e e e e e e ."
                         ". c c c c c c c c c c c c c c c c . . e e e e e e e e e e e ."
                         ". . . . . . . . . . . . . . . . . . . e e e e e e e e e e e ."
                         ". . . . . . . . . . . . . . . . . . . e e e e e e e e e e e ."
                         ". d d d d d d d d d d d d d d d d . . e e e e e e e e e e e ."
                         ". d d d d d d d d d d d d d d d d . . e e e e e e e e e e e ."
                         ". d d d d d d d d d d d d d d d d . . e e e e e e e e e e e ."
                         ". d d d d d d d d d d d d d d d d . . e e e e e e e e e e e ."
                         ". d d d d d d d d d d d d d d d d . . e e e e e e e e e e e ."
                         ". d d d d d d d d d d d d d d d d . . e e e e e e e e e e e ."
                         ". d d d d d d d d d d d d d d d d . . e e e e e e e e e e e ."
                         ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
  }
}