.rightRectangle{
  grid-area: e;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* .preloader0{
  position: absolute;
  height: 100%;
  padding-left: 10%;
  background-color: rgb(10, 10, 10);
  opacity: 0;
  top: 0%;
  right: 0%;
  animation: apearDesapearLoader 4s linear;
} */
