.topRectangle{
  grid-area: a;
  display: flex;
  flex-wrap: wrap;
}
.image{
  height: 77%;/*220px*/
  width: 18%;/*223px*/
  margin-top: 2%;
  margin-left: 3%;
  background-image: url("../../tools/Warning.gif");
}
.imgAnimation{
  animation: desapearImage 8s cubic-bezier(0, 1, 1, 0) infinite;
}
@keyframes desapearImage{
  50%{
    opacity: 1;
  }
  75%{
    opacity: 0.1;
  }
  100%{
    opacity: 1;
  }
}
.topRectangleContent{
  display: flex;
  justify-content: space-around;
  height: 90%;
  width: 33%;
  margin-left: 4%;
  flex-direction: column;
  flex-wrap: wrap;
}
.topRectangleLetterStyle{
  font-size: 1.2rem;
  padding-top: 5%;
}

.imgError{
  display: none;
  color: rgb(110, 6, 6);
  background-color: rgb(10, 10, 10);
  height: 100%;
  width: 100%;
  word-wrap: break-word;
  /* overflow: hidden; */
}