.topRectangle{
  grid-area: a;
  display: flex;
  flex-wrap: wrap;
}
.image{
  height: 77%;/*220px*/
  width: 18%;/*223px*/
  margin-top: 2%;
  margin-left: 3%;
  background-image: url("../../tools/Warning.gif");
}
.imgAnimation{
  animation: desapearImage 8s cubic-bezier(0, 1, 1, 0) infinite;
}
@keyframes desapearImage{
  50%{
    opacity: 1;
  }
  75%{
    opacity: 0.1;
  }
  100%{
    opacity: 1;
  }
}
.topRectangleContent{
  display: flex;
  height: 90%;
  width: 14%;
  margin-left: 5%;
  flex-direction: column;
  flex-wrap: wrap;
}
.topRectangleLetterStyle{
  font-size: 1.2rem;
  padding-top: 20%;
}

.imgError{
  display: none;
  color: rgb(110, 6, 6);
  background-color: rgb(10, 10, 10);
  height: 100%;
  width: 100%;
  word-wrap: break-word;
  /* overflow: hidden; */
}

.toolDivIconPrisoner{
  position: absolute;
  height: 25px;
  width: 25px;
  top: 4%;
  right: 26.8%;
  border-radius: 50%;
  cursor: pointer;
  overflow: visible;
  animation: toolScale 3.5s infinite;
}
.toolIconPrisoner{
  height: 25px;
  width: 25px;
  color: rgb(130, 130, 130);
}

.preloaderPrisoner {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 4%;
  right: 26.8%;
  border-radius: 50%;
  animation: apearDisappearLoaders 4s linear;
}
.preloaderPrisoner img {
  width: 95%;
  margin-left: 1px;
  filter: hue-rotate(100deg) saturate(5);
  animation: spin .7s linear infinite;
}
@keyframes spin {
  100% { 
    transform: rotate(360deg);
  }
}
@keyframes apearDisappearLoaders{
  0%{
    opacity: 1;
  }
  99.9%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@media screen and (max-width: 845px){
  .toolDivIconPrisoner{
    top: 1.8%;
    right: 2%;
  }
  .preloaderPrisoner{
    top: 1.8%;
    right: 2%;
  }
}

@media screen and (max-width: 630px){
  .topRectangleContent{
    height: 97%;
    width: 43%;
    justify-content: space-between;
  }
  .image{
    display: none;
  }
}