.checkFlex{
  display: flex;
}
.wordCheck{
  display: flex;
  padding-left: 9%;
  font-size: 1.4rem;
  padding-top: 1%;
}
.absoluteCheck{
  position: absolute;
  right: 5%;
  color: green;
  font-size: 2rem;
}
.toolIconDiv{
  height: 35px;
  width: 35px;
  margin-top: -37.5px;
}
.toolIcon{
  position: absolute;
  height: 80%;
  width: 100%;
  right: -3%;
  color: rgb(125, 125, 125);
  background-color: rgb(10, 10, 10);
  animation: toolScale 3.5s infinite;
  cursor: pointer;
}
@keyframes toolScale {

  50%{
    transform: scale(1);
  }
  60%{
    transform: scale(1.2);
  }
  70%{
    transform: scale(1);
  }
  80%{
    transform: scale(1.2);
  }
  90%{
    transform: scale(1);

  }
}
.undefinedName{
  position: absolute;
  color: rgb(110, 6, 6);
  background-color: rgb(10, 10, 10);
  font-size: 1.4rem;
}

.preloader {
  display: none;
  z-index: 100;
  width: 34px;
  height: 34px;
  position: absolute;
  background-color: rgb(10, 10, 10);
  top: 0%;
  right: -5%;
  animation: apearDisappearLoader 4s linear;
}
.preloader img {
  margin-left: 1px;
  width: 95%;
  filter: hue-rotate(100deg) saturate(5);
  animation: spin .7s linear infinite;
}
@keyframes spin {
  100% { 
    transform: rotate(360deg);
  }
}
@keyframes apearDisappearLoader{
  0%{
    opacity: 1;
  }
  99.9%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.disappearUndefinedWord{
  animation: disappearUndefined 4s linear;
  animation-fill-mode: forwards;
}
@keyframes disappearUndefined{
  50%{
    color: rgb(10, 10, 10);
    opacity: 1;
  }
  100%{
    color: rgb(10, 10, 10);
    opacity: 0;
  }
}

@media screen and (max-width: 810px){
  .wordCheck{
    font-size: 1.2rem;
  }
  .absoluteCheck{
    font-size: 1.7rem;
  }
  .preloader {
    width: 30px;
    height: 30px;
    top: -7%;
    padding-top: 5%;
  }
  .toolIconDiv{
    height: 33px;
    width: 30px;
    margin-top: -33px;
    margin-right: -3px;
  }
  .toolIcon{
    right: -5%;
  }
}

