.bottomRightRectangle{
  grid-area: d;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.iconContainer{
  height: 50%;
  width: 30%;
  margin-right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.icon{
  height: 77%;
  width: 77%;
}
.socialName{
  font-size: 0.9rem;
  text-align: center;
}

.undefinedCurriculumIcon{
  position: absolute;
  height: 9%;
  top: 85%;
  font-size: 1rem;
  color: rgb(110, 6, 6);
  background-color: rgb(10, 10, 10);
}
.toolDivIconCurriculum{
  position: absolute;
  height: 25px;
  width: 25px;
  top: 74%;
  right: 26.8%;
  border-radius: 50%;
  background-color: rgb(10, 10, 10);
  cursor: pointer;
  overflow: visible;
  animation: toolScale 3.5s infinite;
}
.toolIconCurriculum{
  height: 25px;
  width: 25px;
  color: rgb(125, 125, 125);
}

.preloaderCurriculum {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 73.7%;
  right: 26.8%;
  border-radius: 50%;
  background-color: rgb(10, 10, 10);
  animation: apearDisappearLoader 4s linear;
}
.preloaderCurriculum img {
  width: 95%;
  margin-left: 1px;
  filter: hue-rotate(100deg) saturate(5);
  animation: spin .7s linear infinite;
}
@keyframes spin {
  100% { 
    transform: rotate(360deg);
  }
}
@keyframes apearDisappearLoader{
  0%{
    opacity: 1;
  }
  99.9%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.disappearUndefinedWordd{
  animation: disappearUndefinedd 4s linear;
  animation-fill-mode: forwards;
}
@keyframes disappearUndefinedd{
  50%{
    color: rgb(10, 10, 10);
    opacity: 1;
  }
  100%{
    color: rgb(10, 10, 10);
    opacity: 0;
  }
}

@media screen and (max-width: 845px){
  .undefinedCurriculumIcon{
    font-size: 1rem;
    top: 88%;
  }
}